.text {
  font-size: 1rem;
  max-width: 15rem;
  text-align: center;
}
.sm {
  font-size: 1rem;
}
.md {
  font-size: 1.3rem;
}
.lg {
  font-size: 1.5rem;
}

.normal {
  font-weight: 400;
}
.bold {
  font-weight: 800;
}
.italic {
  font-weight: 400;
  font-style: italic;
}
