.main {
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  min-height: calc(100vh - 8rem);
}

.base {
  max-width: 50rem;
  background-color: #f2be5c;
}

.narrow {
  width: 49%;
  min-width: 40rem;
  background-color: #f2be5c;
}

.wide {
  width: 100%;
}

.dark {
  background-color: #222;
  color: #efefef;
}
